* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

:root {
  --dark-color: #000000;
  --white-color: #FFFFFF;
  --bg: #EEEEED;
  --text: #333333;
  --color-detail: #D3D3D3;
  --grey: #C1C1C1;
  --scroll-color: #6A9E87;
  --dark-green: #355E50;
  --error-color: #C2271F;

  --fluid-pd-20-350: 20px clamp(1.25rem, -2.2898rem + 15.103vi, 21.875rem);
}