body {
  background-color: var(--bg);
  color: var(--text);
  user-select: none;
  -webkit-user-select: none;
}

section {
  min-height: 100dvh;
}

a {
  color: var(--text);
}

.scroll-watcher {
  height: 15px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--scroll-color);
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  -webkit-transform-origin: left;
  animation: scroll-watcher linear;
  -webkit-animation: scroll-watcher linear;
  animation-timeline: scroll();
}

::-webkit-scrollbar {
  display: none;
}

@keyframes scroll-watcher {
  to { scale: 1 1; }
}

.container {
  padding: var(--fluid-pd-20-350);
}

.home {
  display: grid;
}

.config {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 10px;
}

.config__language {
  display: flex;
  align-items: center;
}

.config__language p {
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  font-weight: 200;
  cursor: pointer;
}

p.language--selected {
  color: var(--dark-green);
  font-weight: 600;
}

.language__divider {
  display: block;
  width: 1px;
  height: 10px;
  background-color: var(--color-detail);
  margin: 0 15px;
}

.intro--animation-hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 3s;
}

.intro--animation-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 3s;
}

.intro__name {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: clamp(2rem, 1.4851rem + 2.1968vi, 5rem);
  transform: translateY(15px);
}

.intro__career {
  font-size: clamp(2.5rem, 1.8993rem + 2.5629vi, 6rem);
  font-weight: 900;
  letter-spacing: -1px;
}

.intro__icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.intro__icons a:hover svg path {
  stroke: var(--dark-green);
}

main {
  overflow-x: hidden;
}

section.about  {
  min-height: 20dvh;
  margin: 250px 0 200px 0;
}

.about {
  display: grid;
  align-items: center;
  justify-items: end;
}

.about--animation-hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(100%);
  transition: all 3.5s;
}

.about--animation-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 3.5s;
}

.about__description  {
  text-align: right;
  font-size: clamp(1.125rem, 0.9963rem + 0.5492vi, 1.875rem);
  max-width: 600px;
} 

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--color-detail);
}

.card__wrapper {
  display: flex;
}

.card__image {
  position: absolute;
  width: clamp(15.625rem, 13.4797rem + 9.1533vi, 28.125rem);
  height: clamp(15.625rem, 13.4797rem + 9.1533vi, 28.125rem);
  top: 5%;
  left: 10%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  transition: .6s ease-in-out;
  z-index: 2;
}

.card__image .image--hidden {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.card__infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px 0;
}

.card__infos div {
  width: 80%;
}

.card__title {
  font-size: clamp(1.25rem, 1.0569rem + 0.8238vi, 2.375rem);
  font-weight: 500;
  text-transform: uppercase;
}

.card__description {
  width: 70%;
  font-size: clamp(1.125rem, 0.9963rem + 0.5492vi, 1.875rem);
  margin: 10px 0 20px 0;
}

.card__pills {
  display: flex;
  gap: 10px;
}

.pill {
  padding: 5px 12px;
  background-color: var(--grey);
  border-radius: 2px;
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  font-weight: 400;
  color: var(--dark-color);
}

.curriculum {
  display: grid;
  place-items: center;
  align-content: space-evenly;
  min-height: 350px;
  text-align: center;
}

.curriculum__text {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1.25rem, 1.0569rem + 0.8238vi, 2.375rem);
  font-weight: 900;
  text-transform: uppercase;
  width: 65%;
}

.btn {
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 768px) {
  .intro__icons a svg path {
    stroke: var(--dark-green);
  }
  
  .about { 
    place-items: center;
  }

  .about p {
    max-width: 300px;
    text-align: center;
  }
  
  .about--animation-hidden {
    opacity: 0;
    filter: blur(2px);
    transform: scale(.5);
    transition: all 2s;
  }
  
  .about--animation-show {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transition: all 2s;
  }
}

@media screen and (max-width: 1023px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
  }

  .card__image {
    position: inherit;
    width: auto;
    height: auto;
    transform: translate(0) !important;
    opacity: 1 !important;
    transition: none;
  }

  .card__image .image--hidden {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: top;
    border-radius: 2px;
  }
  
  .card__infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px 0;
  }
  
  .card__infos div {
    width: 80%;
  }

  .card__description {
    width: 100%;
  }

  .btn--curriculum {
    padding: 25px 80px;
    color: var(--white-color);
    background-color: var(--dark-green);
    border-radius: 2px;
    animation: sway 2s infinite;
  }
}

@media screen and (min-width: 768px) {
  .intro__name {
    transform: translateY(25px);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: var(--fluid-pd-160-500);
  }

  .btn--curriculum {
    padding: 30px 100px;
    color: #333;
    transition: .5s ease-in-out;
  }
  
  .btn--curriculum::after, 
  .btn--curriculum::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 3px solid #333;
    border-radius: 2px;
    transition: .5s ease-in-out;
  }
  
  .btn--curriculum::after {
    transform: translate(5px, 5px);
  }
  
  .btn--curriculum::before {
    transform: translate(-5px, -5px);
  }
  
  .btn--curriculum:hover {
    color: var(--dark-green);
    font-weight: 900;
  }
  
  .btn--curriculum:hover::after,
  .btn--curriculum:hover::before {
    transform: translate(0);
    color: var(--dark-green);
    border-color: var(--dark-green);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1440px) {
  .intro__icons a svg {
    width: 50px;
    height: 50px;
  }
}

@keyframes sway {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}