body {
  background-color: var(--bg);
  color: var(--text);
  user-select: none;
  -webkit-user-select: none;
}

section {
  min-height: 100dvh;
}

a {
  color: var(--text);
}

main {
  overflow-x: hidden;
}

.scroll-watcher {
  height: 15px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: var(--scroll-color);
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  -webkit-transform-origin: left;
  animation: scroll-watcher linear;
  -webkit-animation: scroll-watcher linear;
  animation-timeline: scroll();
}

::-webkit-scrollbar {
  display: none;
}

@keyframes scroll-watcher {
  to { scale: 1 1; }
}

.container {
  padding: var(--fluid-pd-20-350);
}

.home {
  display: grid;
}

.config {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 10px;
}

.config__language {
  display: flex;
  align-items: center;
}

.config__language p {
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  font-weight: 200;
  cursor: pointer;
}

p.language--selected {
  color: var(--dark-green);
  font-weight: 600;
}

.language__divider {
  display: block;
  width: 1px;
  height: 10px;
  background-color: var(--color-detail);
  margin: 0 15px;
}

.animation-ltr-hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 3s;
}

.animation-ltr-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 3s;
}

.intro__name {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: clamp(2rem, 1.4851rem + 2.1968vi, 5rem);
  transform: translateY(15px);
}

.intro__career {
  font-size: clamp(2.5rem, 1.8993rem + 2.5629vi, 6rem);
  font-weight: 900;
  letter-spacing: -1px;
}

.intro__icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.intro__icons a:hover svg path {
  stroke: var(--dark-green);
}

section.about  {
  min-height: 30dvh;
  margin: 30dvh 0;
}

.about {
  display: grid;
  align-items: center;
}

.about--animation-hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(100%);
  transition: all 2.5s;
}

.about--animation-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2.5s;
}

.about__description  {
  font-size: clamp(1.125rem, 0.9963rem + 0.5492vi, 1.875rem);
  max-width: 600px;
} 

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.projects :nth-child(2) {
  transition-delay: 500ms;
}

.projects :nth-child(3) {
  transition-delay: 750ms;
}

.projects :nth-child(4) {
  transition-delay: 1s;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--color-detail);
}

.card__wrapper {
  display: flex;
}

.card__image {
  position: absolute;
  width: clamp(15.625rem, 13.4797rem + 9.1533vi, 28.125rem);
  height: clamp(15.625rem, 13.4797rem + 9.1533vi, 28.125rem);
  top: 5%;
  left: 10%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  transition: .6s ease-in-out;
  z-index: 2;
}

.card__image .image--hidden {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.card__infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px 0;
}

.card__infos div {
  width: 80%;
}

.card__title {
  font-size: clamp(1.25rem, 1.0569rem + 0.8238vi, 2.375rem);
  font-weight: 500;
  text-transform: uppercase;
}

.card__description {
  width: 70%;
  font-size: clamp(1.125rem, 0.9963rem + 0.5492vi, 1.875rem);
  margin: 10px 0 20px 0;
}

.card__pills {
  display: flex;
  gap: 10px;
}

.pill {
  padding: 5px 12px;
  border: 1px solid var(--text);
  border-radius: 2px;
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  font-weight: 400;
  color: var(--dark-color);
}

.curriculum {
  display: grid;
  place-items: center;
  align-content: space-evenly;
  min-height: 350px;
  text-align: center;
  margin: 80px 0 100px 0;
}

.curriculum__text {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1.25rem, 1.0569rem + 0.8238vi, 2.375rem);
  font-weight: 700;
  text-transform: uppercase;
  width: 65%;
}

.btn {
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__call {
  font-size: clamp(2.5rem, 1.8993rem + 2.5629vi, 6rem);
  font-weight: 700;
  line-height: 40px;
}

.contact__description {
  font-size: clamp(1.125rem, 0.9963rem + 0.5492vi, 1.875rem);
  width: 60%;
  margin-top: 20px;
  text-align: center;
}

form {
  width: 100%;
  padding-top: 80px;
}

.form__box {
  width: 80%;
  display: flex;
  border-bottom: 1px solid var(--color-detail);
  margin-bottom: 25px;
}

.box__number {
  font-size: clamp(1rem, 0.9571rem + 0.1831vi, 1.25rem);
  margin: 15px 15px 0 0;
}

.box__input {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.box__input label {
  font-size: clamp(1.125rem, 0.9963rem + 0.5492vi, 1.875rem);
  font-weight: 400;
  cursor: pointer;
}

.box__input input, textarea {
  height: 60px;
  background: transparent;  
  font-size: clamp(1.125rem, 0.9963rem + 0.5492vi, 1.875rem);
  color: var(--dark-color);
  border: none;
  padding: 10px 10px 10px 0;
  margin-top: 5px;
  transition: .5s ease-in-out;
}

.box__input textarea {
  min-height: 150px;
  resize: none;
}

.box__input input:focus {
  padding-left: 10px;
  outline: none;
}

.box__input textarea:focus {
  padding-left: 10px;
  outline: none;
}

::placeholder {
  color: var(--color-detail);
}

.error {
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  color: var(--error-color);
  margin-bottom: 8px;
  visibility: hidden;
  display: flex;
  align-items: center;
  transform: translateX(-25px);
}

.error::before {
  content: '';
  display: block;
  background-color: var(--error-color);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-right: 20px;
}

.error--visible {
  visibility: visible !important;
}

.btn--submit {
  padding: 15px 30px;
  color: var(--white-color);
  background-color: var(--dark-green);
  border: none;
  border-radius: 2px;
}

.btn--submit:active {
  filter: brightness(1.1);
}

footer {
  margin-top: 100px;
}

.footer__links {
  display: flex;
  align-items: center;
}

.link {
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  font-weight: 400;
  padding: 5px;
  transition: .2s ease-in-out;
}

.link:hover {
  color: var(--dark-green);
  font-weight: 700;
}

.footer__divider {
  display: block;
  width: 2px;
  height: 12px;
  background-color: var(--color-detail);
  margin: 0 15px;
}

footer p {
  font-size: clamp(0.875rem, 0.7677rem + 0.4577vi, 1.5rem);
  font-weight: 200;
  margin-top: 20px;
  padding: 5px 5px 50px 5px;
}

.form__success {
  margin: auto;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--dark-green);
}
.check::after {
  content: "";
  display: block;
  width: 30px;
  height: 50px;
  border-width: 0 4px 4px 0;
  border-style: solid;
  transform: rotate(45deg);
  border-color: var(--white-color);
}

.form__confirm {
  text-align: center;
  font-size: clamp(1.125rem, 0.9963rem + 0.5492vi, 1.875rem);
  font-weight: 500;
  margin-top: 15px;
}

.btn--backToTop {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 50px;
  height: 50px;
  border: 2px solid var(--text);
  border-radius: 2px;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: background-color .3s, opacity .5s, visibility .5s, .2s ease-in;
}

.btn--backToTop:active {
  filter: brightness(1.1);
}

.backToTop--show {
  opacity: 1;
  visibility: visible;
}

@media (prefers-reduced-motion: reduce) {
  .btn--curriculum {
    animation: none !important;
    -webkit-animation: none !important;
  } 
}

@media screen and (max-width: 576px) {
  .contact {
    align-items: flex-start;
  }

  .contact__description {
    text-align: left;
  }

  .form__box {
    width: 100%;
  }

  footer {
    margin-top: 60px;
  }

  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__divider {
    display: none;
  }

  .btn--backToTop {
    bottom: 20px !important;
    right: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .intro__icons a svg path {
    stroke: var(--dark-green);
  }
  
  .about { 
    place-items: center;
  }

  .about p {
    max-width: 300px;
    text-align: center;
  }

  .btn--backToTop {
    bottom: 25px;
    right: 25px;
    border-width: 3px;
    background-color: var(--dark-green);
    border-color: var(--bg);
    
  }

  .btn--backToTop svg path {
    stroke: var(--bg);
  }

}

@media screen and (max-width: 1023px) {
  .card__wrapper {
    display: flex;
    flex-direction: column;
  }

  .card__image {
    position: inherit;
    width: auto;
    height: auto;
    transform: translate(0) !important;
    opacity: 1 !important;
    transition: none;
  }

  .card__image .image--hidden {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: top;
    border-radius: 2px;
  }
  
  .card__infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px 0;
  }
  
  .card__infos div {
    width: 80%;
  }

  .card__description {
    width: 100%;
  }

  .btn--curriculum {
    padding: 25px 80px;
    color: var(--white-color);
    background-color: var(--dark-green);
    border-radius: 2px;
    animation: sway 2s infinite;
  }

  @keyframes sway {
    15% {
      transform: translateX(5px);
    }
    30% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(3px);
    }
    65% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 769px) {
  .intro__name {
    transform: translateY(25px);
  }
    
  .btn--curriculum:active {
    filter: brightness(1.1);
  }

  .btn--backToTop:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
  }
  
  .btn--backToTop:hover svg path {
    stroke: var(--bg);
  }  
}

@media screen and (min-width: 1024px) {
  .container {
    padding: var(--fluid-pd-160-500);
  }

  .btn--curriculum {
    padding: 30px 100px;
    color: var(--text);
    transition: .5s ease-in-out;
  }
  
  .btn--curriculum::after, 
  .btn--curriculum::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 3px solid var(--text);
    border-radius: 2px;
    transition: .5s ease-in-out;
  }
  
  .btn--curriculum::after {
    transform: translate(5px, 5px);
  }
  
  .btn--curriculum::before {
    transform: translate(-5px, -5px);
  }
  
  .btn--curriculum:hover {
    color: var(--dark-green);
    font-weight: 900;
  }
  
  .btn--curriculum:hover::after,
  .btn--curriculum:hover::before {
    transform: translate(0);
    color: var(--dark-green);
    border-color: var(--dark-green);
    border-radius: 2px;
  }

  .contact__description {
    margin-top: calc(20px + 2vw);
  }
}

@media screen and (min-width: 1440px) {
  .intro__icons a svg {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 2560px) {
  .form__box {
    width: 60%;
  }
}